label {
  overflow: hidden;
  padding: 20px;
  display: inline-block;
}

.visuallyhidden {
  position: relative;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  word-wrap: none;
}

.toggle-switch-container {
  content: '';
  display: inline-block;
  width: 80px;
  height: 40px;
  background-color: gray;
  position: relative;
  border-radius: 10%;
  margin-left: 20px;
}

.toggle-switch {
  box-sizing: border-box;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: left 0.5s;
}

.toggle-checkbox--checked ~ .toggle-switch-container {
  background-color: green;
}

.toggle-checkbox--checked ~ .toggle-switch-container > .toggle-switch {
  left: 40px;
}
.toggle-checkbox ~ .toggle-switch-container .toggle-text {
  position: absolute;
  left: 45px;
  top: 10px;
  color: white;
  font-weight: bold;
}

.toggle-checkbox--checked ~ .toggle-switch-container .toggle-text {
  left: 10px;
}

.label {
  float: left;
}

.label-text {
  display: block;
  padding-bottom: 5px;
}

.label-details {
  color: gray;
  font-size: 90%;
}